* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ai-security-overview {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-block: 1rem;
}

#ai-security-overview div {
    background-color: white;
    width: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-radius: 5px;
}

#ai-security-overview div p:first-child {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #9BA1A5
}

#ai-security-overview div p:last-child {
    font-size: 0.8rem;
}

#ai-security-overview div p:nth-child(2) {
    font-weight: bold;
}

#redShield-icon {
    width: 1rem;
}

#block-icon {
    width: 1.2rem;
}

#thunder-icon {
    width: 1.3rem;
}

#bluerobo-icon {
    width: 1.3rem;
}

#redBlocked-icon {
    width: 1.4rem;
}

#attack-logs-and-blocked-ips-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-block: 1rem;
}

#attack-log-container, #blocked-quarantined-ips-container {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

#attack-log-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#blocked-quarantined-ips-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

#blocked-ips-btn, #quarantined-ips-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

#blocked-ips-btn:hover, #quarantined-ips-btn:hover {
    cursor: pointer;
}

#attack-log-items {
    display: flex;
    flex-direction: column;
}

#attack-log-heads, .attack-log-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-top: 1px solid #9BA1A5;
    text-align: center;
}

.attack-log-item p, .attack-log-item button, #attack-log-heads p {
    width: 100%;
    text-wrap-mode: nowrap;
}

#attack-log-heads {
    color: #9BA1A5;
    margin-top: 0.5rem;
}

.attack-log-item {
    font-size: 0.9rem;
}

.attack-log-item button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.attack-log-item button:hover {
    cursor: pointer;
}

.blocked-ip-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.blocked-ip {
    font-size: 1rem;
    font-weight: bold;
}

.blocked-time {
    font-size: 0.8rem;
    color: #757575;
}

